# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias plz='sudo'
alias wtf='dmesg|tail -n 25'
alias pingg='ping google.com'
alias sql3='rlwrap sqlite3'
alias historyg='history|grep'
alias dsvpn='sudo netExtender -u richard.decal -d network.ncf.edu dsvpn.ncf.edu'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias TODO='vim ~/doc_shit/TODO'
alias grep='egrep --color'
alias i3cheatsheet='egrep ^bind ~/.i3/config | cut -d '\'' '\'' -f 2- | sed '\''s/ /\t/'\'' | column -ts $'\''\t'\'' | pr -2 -w 160 -t | less'
alias holla="curl -X POST -H \"Content-Type: application/json\" -d '{\"value1\":'\"job finished on pito\"}' https://maker.ifttt.com/trigger/python_requests/with/key/ctd5f6eNtWpP8pnMADAG7QcQkpdxxQ29eKz2CB-8MdN"
alias holla='python ~/src/conky-tree/holla.py'
