[user]
	email = public@ricardodecal.com
	name = Ricardo Decal
[credential]
	helper = cache --timeout=360000000
[credential "https://github.com"]
	username = crypdick
[cola]
	spellcheck = false
[core]
	autocrlf = input

[push]
	default = current

[fetch]
    recurseSubmodules = true
	prune = true

[log]
    decorate = short

[pull]
	default = current
